<!DOCTYPE html>
<html>

<head>
  <title>Sundry Income System</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css"></link>
  <link rel="stylesheet" href="./react-datetime.css">
  <link rel="stylesheet" href="./s-alert-default.css">  
  <link rel="stylesheet" href="./stackslide.css"> 
  
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Satisfy" rel="stylesheet">
  <style>
    .ui.grid.MainGrid { margin: 0!important; padding:0!important; height: 100%;}
    .Reset { margin: 0!important; padding:0!important;}
    .ui.error.input input { background-color: #FFF6F6; border-color: #E0B4B4; color: #9F3A38; box-shadow: none; }
  </style>
  <meta charset="utf-8"/>
</head>

<body>
  <div id="ReactRoot" style="height: 100%; max-height:100%; margin:0; padding:0;"></div>
</body>

</html>